.ArticleCard {
  font-size: inherit;
  flex-basis: 30%;
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0.1em solid var(--card-col);
  position: relative;
  overflow: hidden;
  background: var(--card-col);
  gap: 0;
  justify-content: space-between;
  box-shadow: var(--card-b-shadow);
  position: relative;
}
.sideA,
.sideB {
  overflow: hidden;
  display: block;
  pointer-events: none;
  position: relative;
  height: 80%;
}
.sideA {
  flex-basis: 55%;
  margin: 1em;
}
.sideB {
  flex-basis: 35%;
  position: relative;
  width: 100%;
  height: 100%;
}
.sideB img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s ease-in-out;
}
.articleLink {
  flex-basis: 100%;

  font-size: 1em;
  z-index: 3;
  position: absolute;
  width: 97%;
  height: 10%;
  left: 0;
  bottom: 0em;
  /* bottom: -4em; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 10px;
  opacity: 0;
}
.articleLink button {
  background: white;
  color: rgb(39, 39, 138);
  padding: 0.5em 1em;
  transition: 2s ease-in-out;
  border: none;
  font-weight: bold;
}
.articleLink button:hover {
  cursor: pointer;
}
.ArticleCard:hover .sideB img {
  transform: scale(1.2);
}
.ArticleCard:hover .articleLink {
  opacity: 1;
}

.bookDate {
  background-color: var(--primary);
  width: 100%;
  color: var(--secondary);
  text-align: start;
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .ArticleCard {
    --car-tablet: 10em;
    flex-basis: 95%;
    width: 100%;
    max-height: var(--car-tablet);
  }
  .sideB img {
    height: var(--car-tablet);
    width: auto;
    object-fit: fill;
  }
}
