.ArticlesList {
  font-size: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

@media screen and (max-width: 767px) {
  .ArticlesList {
    flex-direction: row;
    padding: 1em;
  }
}
