.ArticlesList {
  font-size: inherit;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 1em;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .ArticlesList {
    flex-direction: row;
    padding: 1em;
  }
}
