.Header {
  font-size: inherit;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--header);
  box-shadow: var(--card-b-shadow);
  padding: 0.2em;
  padding: 0px 20px;
}

.headerMiddle {
  flex-basis: 80%;
  justify-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1em;
}
.headerMiddle img.logo {
  width: 2em;
  height: 2em;
}
.Header h1 {
  font-family: var(--font1);
}
.AvatarLogin {
  flex-basis: 20%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  justify-self: flex-end;
}
.AvatarLogin:hover {
  cursor: pointer;
}
@media screen and (max-width: 460px) {
  .Header {
    font-size: 0.5em;
  }
}
