@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&family=Oxygen:wght@300;400;700&display=swap");
/* font-family: 'Orbitron', sans-serif;
font-family: 'Oxygen', sans-serif; */

:root {
  font-family: Arial, Helvetica, sans-serif;
  --header: #e6f2fb;
  --aside: var(--darken);
  --footer: rgb(54, 64, 89);
  --card-col: rgb(238, 242, 248);
  --home-col: rgb(215, 222, 233);
  --card-b-shadow: 0 0.5em 0.5em 0 rgba(0, 121, 186, 0.2),
    0 0.5em 1em 0 rgba(0, 0, 0, 0.19);

  /* colors */
  --primary: #1193ff;
  --secondary: white;
  --darken: #1a5a8e;
  --accent: cyan;
  --loading-col: cyan;
  --err-col: #d63301;
  --err-bg: #ffccba;

  /* fonts */
  --font1: "Orbitron", sans-serif;
}
h2,
h1 {
  color: var(--darken);
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
}
.backDropDark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.639);
  position: absolute;
}
